* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('/fonts/BebasNeueRegular.woff') format('woff'),
}
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header {
  max-width: 1920px;
  margin: auto;
  background-image: url(/img/bg-main.png);
  background-repeat: no-repeat;
  position: relative;
  background-position: center bottom -53px;
  padding-top: 94px;
}
.shadow {
  background: rgba(41, 45, 51, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin: -94px;
  margin-left: 0px;
}
.logo-link {
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.nav {
  height: 94px;
  width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  position: fixed;
  top: 0;
  z-index: 1;
  color: rgb(255, 255, 255);
  transition: background-color 0.4s;
}
.nav-light {
  background: rgb(250, 251, 252);
  color: rgb(41, 45, 51);
  height: 74px;
}
.nav-light .header-logo-path {
  fill: rgb(41, 45, 51);
}
.header-nav {
  margin-right: auto;
}
.nav-item {
  /* color: rgb(255, 255, 255); */
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  margin-left: 50px;
  padding-top: 1px;
}
.nav-item:hover {
  text-decoration: underline;
  
}
.header-nav {
  color: inherit;
}
.header-contact {
  display: flex;
  align-items: center;
}
.tel {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  font-family: Noto Sans;
  margin-left: 10px;
  word-spacing: 0.8px;
  letter-spacing: -0.2px;
}
.header-button {
  display: flex;
  align-items: center;
  background: rgb(92, 142, 230);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  padding: 34px 47px;
  margin-left: 54px;
  border: none;
  word-spacing: 3px;
  letter-spacing: 0.3px;
}
.header-button:hover {
  cursor: pointer;
}

.main {
  margin-top: 150px;
  margin-left: 240px;
  position: relative;
}
.main-info {
  width: 1200px;
}
.rectangle {
  width: 150px;
  border: 1px solid rgb(92, 142, 230);
  margin-bottom: 17px;
}
.main-title {
  color: #FFFFFF;
  font-family: 'Bebas Neue Regular';
  font-size: 80px;
  font-weight: 400;
  line-height: 96px; 
  margin: 0;
}
.main-subtitle {
  width: 720px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 44px;
  word-spacing: 1.8px;
}
.main-button {
  background: rgb(92, 142, 230);
  padding: 25px 61px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  border: none;
  margin-top: 35px;
  margin-bottom: 100px;
}
.main-button:hover {
  cursor: pointer;
}
.icons-block {
  display: flex;
}
.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 288px;
  height: 168px;
  padding-top: 30px;
  padding-left: 46px;
  border-top: 1px solid rgba(235, 235, 240, 0.2);
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.icon-item:first-child {
  border-left: 1px solid rgba(235, 235, 240, 0.2);
}
.icon-text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 25.6px;
  padding-left: 5px;
}
.main-icon {
  width: 34px;
  height: 29px;
  margin-bottom: 25px;
}
.icon-speed {
  width: 38.5px;
  height: 28.55px;
  margin-bottom: 26px;
  padding-left: 7px;
}
.icon-car {
  width: 39px;
  height: 29px;
  margin-bottom: 25px;
  padding-left: 4px;
}
.icon-control {
  width: 31px;
}
.icon-document {
  width: 36px;
}
.icon-watch {
  width: 24px;
}

.section {
  max-width: 1440px;
  margin:auto;
}
.step {
  margin-top: 150px;
}
.step-card {
  width: 360px;
}
.step-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.title-step {
  font-family: 'Bebas Neue Regular';
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  margin-top: 21px;

}
.step-number {
  display: flex;
  align-items: center;
  font-family: 'Bebas Neue Regular';
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
 color: #5C8EE5;
}
.step-number:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #EBEBF0;
  margin-left: 30px;
}
.card-title {
  font-size: 28px;
  line-height: 44.8px;
  font-weight: 400;
  margin-top: 37px;
  margin-bottom: -4px;
  letter-spacing: 0.3px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #828A99;
  margin-bottom: 21px;
  word-spacing: 2px;
}


.card-link {
  display: flex;
  align-items: center;
  color: #5C8EE5;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-decoration: none;
  word-spacing: 4.1px;
}
.card-link::before {
  content: "";
  width: 40px;
  height: 1px;
  background: #5C8EE5;
  margin-right: 20px;
}

